{% extends "base.html" %}
{% block content %}
    <div class="section">
        To change any of these settings, edit <span class="file">{{ config.filename }}</span>.
    </div>
    <div class="section">
        <h3>Database Settings</h3>
        <dl>
            <dt>Host</dt>
            <dd>{{ config.database.address }}</dd>
            <dt>Database</dt>
            <dd>{{ config.database.database }}</dd>
            <dt>User</dt>
            <dd>{{ config.database.user }}</dd>
            <dt>Password</dt>
            <dd>&bull;&bull;&bull;&bull;&bull;&bull;</dd>
        </dl>
    </div>
    <div class="section">
        <h3>Backend Settings</h3>
        <dl>
            <dt>Host</dt>
            <dd>{{ config.server.address }}</dd>
            <dt>Port</dt>
            <dd>{{ config.server.port }}</dd>
            <dt>HTTPS</dt>
            <dd>{{ 'active' if config.server.https else 'inactive' }}</dd>
            <dt>Keepalive Address</dt>
            <dd>{{ config.server.keepalive }}</dd>
            <dt>HTTP Get Redirect Address</dt>
            <dd>{{ config.server.redirect or 'disabled' }}</dd>
        </dl>
    </div>
    <div class="section">
        <h3>Cache Settings</h3>
        <dl>
            <dt>Cache Directory</dt>
            <dd>{{ config.cache_dir }}</dd>
        </dl>
    </div>
    <div class="section">
        <h3>Frontend Settings</h3>
        <dl>
            <dt>Web Address</dt>
            <dd>{{ config.server.uri or 'http://eagate.573.jp' }}</dd>
            <dt>Network Name</dt>
            <dd>{{ config.name }}</dd>
        </dl>
    </div>
    <div class="section">
        <h3>Data Exchange API Settings</h3>
        <dl>
            <dt>Administrative Email</dt>
            <dd>{{ config.email }}</dd>
        </dl>
    </div>
    <div class="section">
        <h3>Server Settings</h3>
        <dl>
            <dt>PCBID Enforcement</dt>
            <dd>{{ 'active' if config.server.enforce_pcbid else 'inactive' }}</dd>
            <dt>Self-Generated PCBID Limit</dt>
            <dd>{{ 'disabled' if (config.server.pcbid_self_grant_limit <= 0 or not config.server.enforce_pcbid) else config.server.pcbid_self_grant_limit }}</dd>
            <dt>PASELI Enabled</dt>
            <dd>{{ 'yes' if config.paseli.enabled else 'no' }} (can be overridden by arcade settings)</dd>
            <dt>Infinite PASELI Enabled</dt>
            <dd>{{ 'yes' if config.paseli.infinite else 'no' }} (can be overridden by arcade settings)</dd>
            <dt>Default Region</dt>
            <dd>{{ region[config.server.region] }} (can be overridden by arcade settings)</dd>
            <dt>Default Custom Area</dt>
            {% if config.server.area %}
                <dd>{{ config.server.area or "<i>unset</i>" }} (can be overridden by arcade settings)</dd>
            {% else %}
                <dd><i>unset</i> (can be overridden by arcade settings)</dd>
            {% endif %}
            <dt>Event Log Preservation Duration</dt>
            <dd>{{ (config.event_log_duration|string + ' seconds') if config.event_log_duration else 'infinite' }}</dd>
        </dl>
    </div>
{% endblock %}
