Cython
SQLAlchemy<2.0.0
alembic
PyYAML
Flask
Requests
mysqlclient
passlib
mypy
black
typing-extensions
types-python-dateutil
types-requests
types-PyYAML
types-Werkzeug
types-Flask
types-freezegun
types-python-dateutil
flake8==4.0.1
typed-ast
freezegun
pyreact
Flask-Caching
blinker
pycryptodome
jaconv
pefile
pillow
discord_webhook
iced-x86
pylibmc
