setuptools
Cython
SQLAlchemy
alembic
PyYAML
Flask
Requests
mysqlclient
passlib
mypy
black
typing-extensions
types-python-dateutil
types-requests
types-PyYAML
types-Werkzeug
types-Flask
types-freezegun
flake8
typed-ast ; python_version < "3.8"
freezegun
pyreact @ git+https://github.com/DragonMinded/react-python@main
Flask-Caching
blinker
pycryptodome
jaconv
pefile
pillow<=8.3.2 ; python_version < "3.7"
pillow>8.3.2 ; python_version >= "3.7"
discord_webhook
iced-x86
python-memcached
