.bishi.border {
    border-color: #EF6A32;
}

.mga.border {
    border-color: #ff0000;
}

.ddr.border {
    border-color: #017351;
}

.iidx.border {
    border-color: #A12A5E;
}

.jubeat.border {
    border-color: #FBBF45;
}

.museca.border {
    border-color: #AAD962;
}

.pnm.border {
    border-color: #ED0345;
}

.reflec.border {
    border-color: #03C383;
}

.sdvx.border {
    border-color: #710162;
}

.danevo.border {
    border-color: #2e5eee;
}
