{% extends "base.html" %}
{% block content %}
    <div class="section">
        <h2>Recover Account Password</h2>

        <form action="{{ url_for('account_pages.recover') }}" method=post>
            {% if token %}
                <input type="hidden" name="token" value="{{ token }}" />
            {% endif %}
            <dl>
                <dt>Username</dt>
                <dd><input type="text" name="username" value="{{ username }}" /></dd>
                <dt>Desired Password</dt>
                <dd><input type="password" name="password1" /></dd>
                <dt>Desired Password (again)</dt>
                <dd><input type="password" name="password2" /></dd>
                <dt></dt>
                <dd><input type="submit" value="update password" /></dd>
            </dl>
        </form>
    </div>
{% endblock %}
