server {
    server_name your-domain.com;
    listen 8573 ssl;
    server_tokens off;

    gzip on;
    gzip_types text/html text/css text/plain application/javascript application/xml application/json;
    gzip_min_length 1000;

    ssl_certificate /path/to/certboot/your-domain.com/fullchain.pem;
    ssl_certificate_key /path/to/certboot/your-domain.com/privkey.pem;

    location / {
        include uwsgi_params;
        uwsgi_pass unix:/path/to/your/root/frontend.sock;
    }

    location ^~ /static/ {
        include  /etc/nginx/mime.types;
        root /path/to/your/virtualenv/lib/python3.8/site-packages/bemani/frontend/;
    }

    location ^~ /jsx/ {
        include  /etc/nginx/mime.types;
        root /path/to/your/converted/jsx/files/;
    }

    location ^~ /assets/ {
        include  /etc/nginx/mime.types;
        root /path/to/your/converted/asset/files/;
    }
}
